.body {
    margin: 0 2rem;
}
.body p {
    color: #707070;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(112,112,112,0.5);
}
.body p span {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0 0.5rem;
}