.error {
    width: 49%;
    position: relative;
    font-size: 1vw;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 0.25rem;
    padding: 1.0vw 1.5vw;
    // margin-left: 0.5rem;
    // align-items: center;
    // justify-content: left;
    top: 0;
    bottom: 0;
    margin: auto;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border-width: 0 0.5rem 0.5rem 0.5rem;
      border-style: solid;
      border-color: #f5c6cb transparent transparent transparent;
    }
}