.form {
    display: block;
    width: auto;
    margin: 0 3vw;
    padding: 2vw 5vw;
    background-color: #ffffff7a;
    border: 1px solid #6B8264;
    font-size: 1.2rem;
    font-weight: bold;
    color: #707070;
}
.section {
    display: flex;
    padding: 1.0vw 1.6vw;
    align-items: center;
}
.section:nth-child(10) {
    padding: 1.0vw 1.6vw 0.2vw;
}
.section:last-of-type {
    padding: 1.0vw 1.6vw 3.0vw;
}
.title {
    width: 40%;
    padding: 0 30px 0 0;
    text-align: right;
}
.required {
    margin-left: 1vw;
    padding: 2px 4px;
    border: 2px solid #E3A7A7;
    border-radius: 1.2vw;
    background-color: #F4B2B2;
    color: #fff;
    font-size: 1.2vw;
    font-weight: 500;
}
.option {
    margin-left: 4.4vw;
}
.box {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.box input {
    box-sizing: border-box;
    padding: 10px 0 10px 10px;
    width: 25em;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 4px;
}
.box select {
    box-sizing: border-box;
    padding: 10px 0 10px 10px;
    width: 25em;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 4px;
}
.box input::placeholder {
    font-weight: 400;
    opacity: 0.8;
}
.altPass {
    font-size: 0.6rem;
    color: #c4c4c4;
    margin-left: 34vw;
}

.error {
    width: 49%;
    position: relative;
    font-size: 1vw;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 0.25rem;
    padding: 1.0vw 1.5vw;
    top: 0;
    bottom: 0;
    margin: auto;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border-width: 0 0.5rem 0.5rem 0.5rem;
      border-style: solid;
      border-color: #f5c6cb transparent transparent transparent;
    }
}