.inner {
    display: block;
    width: auto;
    margin: 4vw 6vw;
    padding: 5vw;
    background-color: #fff;
    border: 1px solid #6B8264;
    font-size: 2vw;
    font-weight: 500;
    color: #707070;
    text-align: center;
}
.text {
    margin-bottom: 0.5rem;
}
.autoReloadTop {
    font-size: 1.4vw;
    margin-bottom: 2rem;
}