.body {
    background-color: #fefefe;
    margin: 2rem;
    font-size: 1.3vw;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100vw;
    // height: 100vw;
    box-sizing: border-box;
    padding: 0 1rem;
}
.table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    // border-spacing: 0;
    color: #353535;
    // border-spacing: 1rem;
}
.table thead {
    
}

.table th,
.table td {
    padding: 1rem 0;
}
.table tr {
    border-bottom: 1px solid #BFBFBF;
}
.prdImg {
    width: 20%;
    img {
        width: 50%;
    }
}
.prdName {
    width: 20%;
}
.prdPrice,
.prdQty,
.subTotal {
    width: 15%;
}
.prdQty {
    input[type="text"] {
        font-size: 1.2vw;
        border: none;
        border-radius: 3px;
        box-sizing: border-box;
        width: 3vw;
        text-align: center;
    }
    button {
        width: 3vw;
        height: 3vw;
        text-align: center;
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: pointer;
    }
}
.totalAmount {
    text-align: right;
    margin: 1rem 3rem 1rem 0;

    span {
        font-size: 2rem;
        padding-left: 2rem;
    }
}