# MySQLサーバの設定
[mysqld]
default-time-zone = 'Asia/Tokyo'
character-set-server = utf8mb4
collation-server = utf8mb4_bin

# MySQL側のコマンドラインツール側の設定
[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4