.body {
    padding-top: 80px;
}
.boxParent {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;/* これを指定する */
    justify-content: space-between;
    row-gap: 2rem;
    margin-bottom: 2rem;
}
.boxParent:after {
    display: block;
    content:"";
    width: calc(100%/3 - 1rem);/* 横幅を3等分 */
}
.prdDetailArea {
    display: flex;
    width: auto;
    justify-content: space-around;
    background-color: #fff;
    height: auto;
    margin: 1.5vw;
    padding: 3vw;
}
.leftArea {
    width: 50%;
}
.leftArea img {
    width: 100%;
}
.rightArea {
    width: 50%;
    padding-left: 5vw;
    color: #707070;
    font-size: 1.2vw;
    font-weight: 600;
    line-height: 3vw;
}
.prdName {
    font-size: 2vw;
    padding: 1vw 0;
}
.prdTxt span,
.prdSize span {
    color: #959595;
}
.prdTxt span {
    padding-right: 1.5vw;
}
.prdSize span{
    padding-right: 4.4vw;
}
.prdQty {
    display: flex;
    font-size: 1.4vw;
    font-weight: 500;
    margin: 7vw 0 0;
    span {
        padding-right: 2vw;
    }
    input[type="text"] {
        font-size: 1.4vw;
        border: none;
        border-radius: 3px;
        box-sizing: border-box;
        width: 3vw;
        text-align: center;
    }
    button {
        width: 3vw;
        height: 3vw;
        text-align: center;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
        transition: .3s;
    }
    button:hover {
        transform: translateY(5px);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
    }
}
.prdAltText {
    color: #a6a6a6;
    font-size: 1vw;
    font-weight: 200;
    margin-top: 0;
}
.prdPrice {
    padding-bottom: 2vw;
    font-size: 3vw;
    font-weight: 400;
}
.thanksBox {
    width: auto;
    // justify-content: space-around;
    text-align: center;
    background-color: #fff;
    border: #2c372971 solid 1px;
    height: auto;
    margin: 1.5vw;
    padding: 3vw;
}
.thanksPageImg {
    width: 40%;
}
.thanksMsg {
    font-size: 1.6rem;
    color: #6B8264;
    margin-top: 1rem;
}
.thanksSubMsg {
    color: #707070;
    margin: -0.2rem 0 2rem;
}